<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-image: url("background3.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
        }

        h1 {
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px blue;
        }

        /* Our Styling */
        #searchResultsDiv
        {
            color: white;
            margin-top: 2rem;
            display: flex;
            justify-content: space-evenly;
        }

        .searchResultItem
        {
            display: flex;
            justify-content: space-evenly;
        }
        
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search Results</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="location.href = '/home';" >Home</button>
        <a class="navbar-brand" style="color: rgb(191, 255, 161)">Search Results</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form method="POST" action='/search' class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name="Search" type="search" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="location.href = '/login';">LogOut</button>
        </div>
    </nav>

    <!-- div that shows the results -->
    <% if (items.length == 0) { %>
        <h1 style="color: red; -webkit-text-stroke: 1px black;">No Matching Results, Try Another Search Term</h1>
    <% } 
    else { %>
    <div id = 'searchResultsDiv'>

        <% items.forEach((item) => { %>
            <div class="searchResultItem">
            <!-- show item name -->
            <h3><%= item.Name %></h3>
            
            <!-- case for which item the search query returns and generate its appropriate button -->
            <% switch (item.Name) 
            {
                case 'Galaxy S21 Ultra': %>
                <button onclick="location.href = '/galaxy';" class="btn btn-secondary ml-3"> View </button>
                <% break;

                case 'iPhone 13 Pro': %>
                <button onclick="location.href = '/iphone';" class="btn btn-secondary ml-3"> View </button>
                <% break;

                case 'Leaves of Grass': %>
                <button onclick="location.href = '/leaves';" class="btn btn-secondary ml-3"> View </button>
                <% break;

                case 'Boxing Bag': %>
                <button onclick="location.href = '/boxing';" class="btn btn-secondary ml-3"> View </button>
                <% break;

                case 'Tennis Racket': %>
                <button onclick="location.href = '/tennis';" class="btn btn-secondary ml-3"> View </button>
                <% break;

                case 'The Sun and Her Flowers': %>
                <button onclick="location.href = '/sun';" class="btn btn-secondary ml-3"> View </button>
                <% break;
            }%>
            </div>
        <%})%>
    </div>
    <% } %>
</body>
</html>